<h1>Current Trippsing <%= current_user.name %></h1>

	<p>You have <%= @trips.length %> trips!</p>

<div class="trip-index-div text-left">
	<% @trips.each do |trip| %>
		<h3><%= link_to trip.title, trip_path(trip) %> - <%= trip.location %></h3><br>
	<% end %>
</div>