<footer class="footer-div">
  <ul>
    <li class="social-icons"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></li>
    <li class="social-icons"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></li>
    <li class="social-icons"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></li>
    <li class="social-icons"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></li>
  </ul>
  <p class="footer-text">©Copyright 2016 - TripMemories</p>
  <p class="footer-text">"Make it Happen"</p>
</footer>
