<div class="container">

    <h1 class="h1-titles">Welcome to Trip Memories </h1>
    <!-- <h2 class="trip-exerpt">"Make it Happen"</h2> -->
        <h4 class="trip-exerpt">Trip Memories is a mini-journal of the special events that took place on you're trip made up of posts with either photos & or text. Every trip you make will be marked on a google map located on your trips homepage. If you'd like to see a demo account, Login to Slade's account.<br>Email: slade@slade.com, Password: password </h4>

		<h3>1. <%= link_to 'Login', new_user_session_path, class:"underline" %>  or  <%= link_to 'Sign Up', new_user_registration_path, class:"underline" %></h3>
        <img class="steps-img" src="https://s3.amazonaws.com/trip-memories/login.png">
        <img class="steps-img" src="https://s3.amazonaws.com/trip-memories/signup.jpg">
	<h3>2. Trips Homepage</h3>
    <h4>Simply click the middle tab "New Trip" to create a trip</h4>
        <img class="trips-index-img" src="https://s3.amazonaws.com/trip-memories/trips-index3.jpg">
    <h3>3. Posts Page </h3>
    <h4>Simply click the "New Post" to create a post</h4>
         <img class="trips-index-img" src="https://s3.amazonaws.com/trip-memories/posts-index3.jpg">
    <h3>Be like Slade - <span class="underline"><%= link_to 'Sign up here', new_user_registration_path %></span></h3>

</div>

