<div class="container">

    <h1 class="h1-titles">Welcome to Trip Memories </h1>

		<h3>1. Login or Sign Up</h3>
    <img class="steps-img" src="https://s3.amazonaws.com/trip-memories/login2.png">
    <img class="steps-img" src="https://s3.amazonaws.com/trip-memories/signup2.png">
		<h3>2. Create a Trip</h3>
    <img class="trips-index-img" src="https://s3.amazonaws.com/trip-memories/trips-index2.png">
    <h3>3. Add Posts to your trip </h3>
     <img class="trips-index-img" src="https://s3.amazonaws.com/trip-memories/posts-index2.png">
    <h4 >Be like Slade - <span class="underline"><%= link_to 'Sign up here', new_user_registration_path %></span></h4>
  </p>
</div>

