$navbar-font: 'Sniglet', cursive
$body-font: 'Ruluko', sans-serif
$p-font-size: 1.5em
$a-tags: 1em
$margin-center: 0 auto
$purp: #7D61B1
$margin-bottom: 0
$break-x-small: 400px
$break-small: 520px

// font-family: 'Lobster', cursive

// font-family: 'Kotta One', serif;

// font-family: 'Sniglet', cursive;

// font-family: 'Ruluko', sans-serif;
.round-image-50 
  background-color: white
  border: 1px solid #d9d9d9
  border-radius: 25px
  -moz-border-radius: 25px
  -webkit-border-radius: 25px
  height: 50px
  width: 50px
  overflow: hidden
  text-align: center

img  
  width: 100% 

.alert 
  border: 1px solid
  width: 250px
  padding: 10px
  color: #50AD2D
  margin: 0 auto
  &.alert-notice 
    color: orange
  &.alert-error
    color: red
  &.alert-success
    color: green

.container-fluid
  padding: 1% 3% 0

body 
  // opacity: 0.8
  // background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/58/Sunset_2007-1.jpg")
  // background-repeat: no-repeat
  // background-size: 100% 100%
  font: 100% $body-font
  padding-top: 70px
  /*background-image: -moz-linear-gradient(top, $lightblue  42%, $darkblue 100%);*/
  // background-attachment: fixed

p
  font-size: $p-font-size
  margin-bottom: 0

a
  font-size: $a-tags
  color: #9d9d9d

h1
  font-family: $navbar-font

h2
  margin-top: 0
  margin-bottom: $margin-bottom

.navbar 
  border-radius: 0
  font: 100% $navbar-font  

.navbar-brand 
  font-size: 2.3em

.navbar-inverse 
  background-color: #eee
  border-color: #eee

.nav-subtitle 
  font-size: 1.5em

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover
  background-color: #AFAFAF

.dropdown-menu>li>a
  color: purple

.btn-primary 
  color: #fff
  background-color: #333
  border-color: #333

/*****TRIP INDEX*****/

.trip-index-div 
  max-width: 95%
  margin: 0 auto

.trip-div
  border-radius: 25px
  padding: 5px 5px
  position: relative
  // border: 1px solid #eee
  text-align: center

.edit-trash
  display: block
  margin-right: 3%
  text-align: right

.cover-image
  position: relative
  display: block
  max-width: 100%
  height: 235px

#location-name 
  margin-top: 0
  color: #777
  font-size: 14px

.title-link
  padding-top: 4%
  font-size: 1.3em
  padding-top: 5px 

.title-h4
  margin-bottom: 0

.black-box
  padding: 1% 0
  vertical-align: middle
  color: #FFF
  // padding: 7px
  background-color: #333
  font-size: 1em

/*****TRIP SHOW - POSTS*****/

.med-size-link
  font-size: 1.5em
  margin-bottom: 2%

.post-div
  margin-top: 2%
  border: 1px solid #eee
  text-align: center
  // background-color: #eee

.post-img 
  border-radius: 5px

.img-responsive
  width: 80%
  height: 220px
  margin: $margin-center

.post-title
  color: #502586
  font-weight: bold

.post-content
  border-radius: 5px
  width: 80%
  margin: 2% auto
  padding: 3% 0
  border: 1px solid #eee
  height: 120px
  overflow: scroll

.post-edit-trash
  text-align: right

/*****NEW POST FORM*****/
.new-post-div
  width: 30%
  margin: $margin-center
  border: 1px solid yellow

input#post_image
  color: #eee
  display: block

input[type=file]
  margin: $margin-center

input[type="button"]
  background-color: #eee

textarea
  width: 250px
  height: 130px










