$lightblue : #87e0fd; 	
$darkblue : #2cafe3;
$cpad: 20px;


/*.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-info;
}
*/
body {

	/*background-image: url("http://www.drodd.com/images14/ocean-wallpaper20.jpg");*/
	background-repeat: no-repeat;
	background-size: cover;
	/*background-image: -moz-linear-gradient(top, $lightblue  42%, $darkblue 100%);*/
	background-attachment:fixed;
}

.content {
padding: $cpad;
}

.jumbotron {
	opacity: .8;
	background-color: transparent;
}

.btn-primary {
  color: #fff;
  background-color: #333;
  border-color: #333;
}

.navbar {
	border-radius: 0;
}




/*****TRIP INDEX*****/

.trip-index-div {
	max-width: 600px;
	margin: 0 auto;
}




/*****TRIP INDEX*****/

.post-content {
	
}

























