$navbar-font: 'Sniglet', cursive
$body-font: 'Inconsolata'
$p-font-size: 1.5em
$a-tags: 1em
$margin-center: 0 auto
$purp: #7D61B1
$margin-bottom: 0

// font-family: 'Lobster', cursive

// font-family: 'Kotta One', serif;

// font-family: 'Sniglet', cursive;

// font-family: 'Ruluko', sans-serif;
.round-image-50 
  background-color: white
  border: 1px solid #d9d9d9
  border-radius: 25px
  -moz-border-radius: 25px
  -webkit-border-radius: 25px
  height: 50px
  width: 50px
  overflow: hidden
  text-align: center

img  
  width: 100% 

.alert 
  border: 1px solid
  width: 250px
  padding: 10px
  color: #50AD2D
  margin: 0 auto
  &.alert-notice 
    color: orange
  &.alert-error
    color: red
  &.alert-success
    color: green

body 
  // background-image: url("http://www.drodd.com/images14/ocean-wallpaper20.jpg")
  background-repeat: no-repeat
  background-size: cover
  font: 100% $body-font
  /*background-image: -moz-linear-gradient(top, $lightblue  42%, $darkblue 100%);*/
  background-attachment: fixed

p
  font-size: $p-font-size

a
  font-size: $a-tags
  color: $purp

h2 
  margin-bottom: $margin-bottom
h4
  margin-top: 1px
  margin-bottom: -15px

h5
  margin-top: 13px

.navbar 
  border-radius: 0
  font: 100% $navbar-font  

.navbar-brand 
  font-size: 2.3em

.jumbotron 
  opacity: .8
  background-color: transparent

.btn-primary 
  color: #fff
  background-color: #333
  border-color: #333


/*****TRIP INDEX*****/

.trip-index-div 
  max-width: 90%
  margin: 0 auto

.trip-div 
  position: relative
  border: 1px solid #eee
  text-align: center
  height: 150px

.edit-trash
  text-align: right

.black-border
  border: 1px solid #eee
  padding: 0 2%
  border-radius: 5px

// .cover-image 
//   position: relative
//   height: 150px

#location 
  position: relative

#location-content 
  position: absolute
  bottom: 6px

.black-box
  color: #FFF
  width: auto
  padding: 7px
  background-color: #000
  font-size: 1em

/*****POST DIV*****/

.post-div
  border: 1px solid #eee
  text-align: center

.img-responsive
  display: block
  max-width: 100%
  height: auto


/*****NEW POST DIV*****/
.new-post-div
  width: 30%
  margin: $margin-center
  border: 1px solid yellow

input#post_image
  color: #eee
  display: block

input[type=file]
  margin: $margin-center

input[type="button"]
  background-color: #eee

textarea
  width: 250px
  height: 130px















