@media (max-width: 1000px) {

  .logo {
    margin-bottom: 2%;
    width: 8%;
  }

  .plane {
    width: 5%;
  }

  .round-image-50.avatar {
    width: 9%
  }

}

@media (max-width: 810px) {

  .new-post-trip-div {
    width: 45%;
  }

  .login-signup {
    padding: 0;
  }

  .logo {
    margin-bottom: 2%;
    width: 10%;
  }

  .plane {
    width: 7%;
  }

  .round-image-50.avatar {
    width: 10%
  }

}

@media (max-width: 695px) {
  
  .post-div {
    height: auto;
  }
  
  .post-img.img-responsive {
    height: auto;
  }    
    
  .trip-div
  .cover-image {
    max-width: 100%;
    height: auto;
    max-height: 500px;
  }

  .new-post-trip-div {
    width: 55%;
  }

  .login {
    top: 40%;
  }

   .login-signup {
    padding: -10px -15px;
  }

}

@media (max-width: 595px) {


  a{
    font-size: 1em;
  }

  .logo {
    width: 12%;
  }

  .new-post-trip-div {
    width: 65%;
  }

  .plane {
    width: 10%;
  }

  .round-image-50.avatar {
    width: 18%
  }

}


@media (max-width: 525px) {

  body {
    padding-top:  60px;
  }

  #trip-memories-link {
    font-size: 2.5em;
  }

  .h1-titles {
    font-size: 2.5em;
  }

  .round-image-50.avatar {
    width: 20%;
  }

  .logo {
    width: 17%;
  }


  #subtitle-container {
    width: 100%;
  }

  input[type=submit] {
    padding: 2% 5%;
    margin-bottom: 2%;
  }

  .h2-titles {
    font-size: 2.5em;
    padding: 2%;
  }

  .new-post-trip-div {
    border: 1px solid #eee;
    border-radius: 10px;
    width: 80%;
  }

  .trip-memories-container {
    margin: 5% auto 2%;
  }

}
