@media (max-width: 1000px) {

  .trip-index-div {
    margin: 0 auto;
  }

  .logo {
    margin-bottom: 2%;
    width: 8%;
  }

  .plane {
    width: 4%;
  }

  .round-image-50.avatar {
    width: 6%
  }

}

@media (max-width: 810px) {

  .show-container {
    width: 600px;
  }

  .trip-div {
    padding: 0 8% 1%;
    min-height: 0;
  }

  .post-div {
    height: auto;
  }

  .login-signup {
    padding: 0;
  }

  .logo {
    margin-bottom: 2%;
    width: 10%;
  }

  .plane {
    width: 5%;
  }

  .round-image-50.avatar {
    width: 7%
  }

}

@media (max-width: 695px) {

  .trip-div.col-lg-3.col-md-4.col-sm-6.col-xs-12 {
    padding: 0 8% 2%;
  }
  
  .post-div {
    height: auto;
  }

  .trip-div {
    padding: 0 13% 1%;
    min-height: 0;
  }

  .trip-index-div {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .post-img.img-responsive {
    height: auto;
  }    
    
  .trip-div
  .cover-image {
    width: 100%;
    /*height: auto;*/
  }

  .login {
    top: 40%;
  }

   .login-signup {
    padding: -10px -15px;
  }

}

@media (max-width: 595px) {

  .trip-div {
    padding: 2% 0;
  }

  .show-container {
    width: 100%;
  }

  .trip-index-div {
    width: 100%;
  }

  a{
    font-size: 1em;
  }

  .logo {
    width: 12%;
  }

  .new-post-trip-div {
    width: 65%;
  }

  .plane {
    width: 6%;
  }

  .round-image-50.avatar {
    width: 9%
  }

  .trip-btns {
    padding: 1% 0;
  }

}

@media (max-width: 525px) {

 .map-container {
    width: 90%; 
 }

 .trip-div.col-lg-3.col-md-4.col-sm-6.col-xs-12 {
    padding: 0 2% 2%;
  }

 .container {
    padding-left: 0;
    padding-right: 0;
 }

  .hide-nav {
    display: none;
  }

  .trip-memories-container {
    margin: 0;
  }

  body {
    padding-top: 0;
  }

  #trip-memories-link {
    font-size: 2.3em;
  }

  .h1-titles {
    font-size: 2.7em;
  }

  .round-image-50.avatar {
    width: 10%;
    display: inline-block;
    margin-bottom: 2%;
  }

  .logo {
    width: 17%;
  }

  #subtitle-container {
    width: 70%;
  }

  input[type=submit] {
    padding: 2% 5%;
    margin-bottom: 2%;
  }

  .h2-titles {
    font-size: 2em;
    padding: 2%;
  }

  .new-post-trip-div {
    border: 1px solid #eee;
    border-radius: 10px;
    width: 90%;
  }

  .trip-memories-container {
    margin: 0 auto 2%;
  }
}

@media (max-width: 400px) {

  .trip-div.col-lg-3.col-md-4.col-sm-6.col-xs-12 {
    padding: 1% 2%;
  }
 
  .round-image-50.avatar {
   width: 9%;
  }

  .trip-btns {
    background-color: #FBFBFB;
  }

  body {
    padding-top: 0;
  }

  .container-fluid {
    padding: 0;
  }

  .trip-index-div {
    max-width: 100%;
  }

  .col-xs-12 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .post-div {
    margin-bottom: 2%;
  }

}
